# Default ignored files
/shelf/
/workspace.xml
/src/jpg/
# Datasource local storage ignored files
/../../../../../../:\Users\Connor\IdeaProjects\momBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
